.see__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.see__choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background: #f8f9fa;
    width: 400px;
    height: 453px;
    margin-bottom: 28px;
}

.see__chooses {
    display: flex;
    gap: 12px;
    margin-top: 56px 28px 28px 28px;

}

.see__title {
    font-family: "Readex Pro";
    font-weight: 400;
    font-size: 42px;
    line-height: 125%;
    text-align: center;
    color: #000;
    margin: 47px 410px 9px 411px;
}

.see__description {
    margin: 0;
    font-family: "Readex Pro";
    font-weight: 400;
    font-size: 13px;
    line-height: 129%;
    text-align: center;
    color: #000;
}

.see__undertitle {
    font-family: "Readex Pro";
    font-weight: 400;
    font-size: 13px;
    line-height: 129%;
    text-align: center;
    color: #000;
    margin-top: 41px;
}

.see__maintitle {
    font-family: "Readex Pro";
    font-weight: 400;
    font-size: 28px;
    line-height: 125%;
    text-align: center;
    color: #000;
}

.see__btn {
    padding: 14px 63px 14px 63px;
    border: 1px solid #000;
    border-radius: 200px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-transform: capitalize;
    text-align: center;
    color: #000;
    margin-top: 44px;
    margin-bottom: 15px;
}

@media(max-width:1246px) {
    .see__title {
        margin: 0;
        margin-top: 47px;
    }

    .see__chooses {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:555px) {
    .see__title {
        font-size: 37px;
    }


}

@media(max-width:437px) {
    .see__maintitle {
        font-size: 23px;
    }

    .see__img {
        width: 250px;
    }

    .see__btn {
        padding: 10px 22px;
        font-size: 11px;
        margin: 22px 0px 7px 0px;
    }
.see__chooses{
    padding-left: 12px;
    padding-right: 12px;
}
    .see__choose {
        width: 269px;
        height: 353px;
    }

    .see__undertitle {
        margin-top: 12px;
    }
}