.sign__content {
    display: flex;
    justify-content: center;
    margin: 42px 252px 19px 253;

}

.sign__enter {
    display: flex;
    margin: 0px;
    padding: 16px;
}

.text {
    padding: 16px;
}

.sign__btn {
    border-radius: 0 200px 200px 0;

    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    background: #000;
    padding: 16px 33px 17px 32px;
    margin: 0px;
}

.sign__email {
    border: 1px solid #000;
    border-radius: 54px 0 0 54px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;

    color: #000;
    padding: 18px 184px 17px 32px;
}

.sign__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background: #dce5e2;
    margin: 61px 82px 28px 83px;

}

.sign__description {
    font-family: "Inter";
    font-weight: 400;
    line-height: 120%;
    font-size: 16px;
    text-align: center;
    color: #000;

}

.sign__title {
    font-family: "Readex Pro";
    font-weight: 400;
    font-size: 42px;
    line-height: 125%;
    text-align: center;
    color: #000;
    margin: 47px 272px 9px 270px;
}

@media(max-width:1131px) {
    .sign__title {
        margin: 20px 172px 0px 170px;
    }

    .sign__text {
        margin-top: 14px;
    }

    .sign__description {
        margin: 9px 0px;

    }
}

@media(max-width:784px) {
    .sign__title {
        margin: 8px 10px 0px 10px;
    }

    .sign__email {
        padding: 16px 100px 15px 10px;
    }

    .sign__btn {
        padding: 14px 20px 15px 22px;
    }

    .sign__description {
        margin: 7px 6px 6px 6px;

    }

    .sign__enter {
        padding: 10px;
    }

}

@media(max-width:638px) {
    .sign__title {
        font-size: 37px;
    }

    .sign__email {
        padding: 10px 30px 10px 4px;
    }

    .sign__btn {
        padding: 9px 12px 9px 12px;
    }
}

@media(max-width:544px) {
    .sign__email {
        padding: 6px 10px 5px 4px;
        font-size: 10px;
    }

    .sign__btn {
        padding: 4px 2px 4px 2px;
        font-size: 10px;
    }

    .sign__amg img {
        width: 250px;
    }

    .sign__description {
        font-size: 12px;
    }

    .sign__enter {
        padding: 0px 10px 5px 10px;
    }
}